In [223]:
import pandas as pd

In [225]:
vr = pd.read_csv("raw.csv")

# Objetivos
- Remover itens duplicatos (se tiver algum)
- Remover propagandas
- Colunas numéricas tem que ter só números

# Desafios
- Lidar com os amenities

# Comando úteis
vr -> No caso é o nome do dataframe que estamos trabalhando 

vr.head() -> Mostra as primeiras linhas

vr.tail() -> Mostra as ultimas linhas

vr.columns -> Nome das columnas

vr.shape -> Mostra o "formato" do dataframe

vr.duplicated(subset=[lista de colunas]) -> retorna verdadeiro para as linhas duplicadas

vr.drop_duplicates(subset=[lista_de_colunas], keep="first") -> remover duplicados da base

vr.info() -> Mostra um resumo da tabela, com o tipo de dados de cada coluna

vr[nome da coluna].unique() -> Mostra os valores unicos dessa coluna

vr["NOMEDACOLUNA"].str.split(" ") -> Separa as strings da coluna NOMEDACOLUNA string no espaco. Ex: "Um brinquedo"-> ["Um", "brinquedo"]

vr["NOMEDACOLUNA"].str.replace("a", "b") -> Para todas as strings da coluna NOMEDACOLUNA, substitui a por b. Ex: "abacate" -> "bbbcbte"

vr.reset_index(drop=False) -> Re-constroi o indice sem pular valores. Util sempre que fizer alguma operacao que remova linhas para evitar warnings

vr["NOMEDACOLUNA"].isnull() -> Filtro para detectar null na coluna NOMEDACOLUNA

vr.dropna() -> Remove linhas que tiverem nulls.

vr.dropna(subset=["NOMEDACOLUNA"]) -> Remove linhas que tiverem nulls na coluna NOMEDACOLUNA.

vr.fillna("ERRO") -> Substitui valores null pelo valor "ERRO"

# Duplicados

In [226]:
vr.columns

Index(['id', 'url', 'header', 'address', 'area', 'rooms', 'bathrooms',
       'garages', 'amenities', 'price', 'condo', 'crawler', 'crawled_at'],
      dtype='object')

In [227]:
vr.loc[vr["id"]=="2439997677"]

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
68,2439997677,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 130m²","Rua Doutor Paschoal Imperatriz - Brooklin, São...",130,3 Quartos,4 Banheiros,3 Vagas,NaN,R$ 1.436.800,NaN,Brooklin,2021-03-11 01:58
72,2439997677,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 130m²","Rua Doutor Paschoal Imperatriz - Brooklin, São...",130,3 Quartos,4 Banheiros,3 Vagas,NaN,R$ 1.436.800,NaN,Brooklin,2021-03-11 01:58

In [228]:
vr[vr.duplicated(subset=["id", "header", "address", "area", "rooms", "price"])]

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
72,2439997677,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 130m²","Rua Doutor Paschoal Imperatriz - Brooklin, São...",130,3 Quartos,4 Banheiros,3 Vagas,NaN,R$ 1.436.800,NaN,Brooklin,2021-03-11 01:58
146,2501373854,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 63m²","Rua Soberana, 49 - Brooklin, São Paulo - SP",63,2 Quartos,2 Banheiros,1 Vaga,Piscina\nChurrasqueira\nAcademia\nElevador\nEs...,R$ 850.000,R$ 651,Brooklin,2021-03-11 01:58
218,2512231186,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 132m²","Rua Califórnia, 1127 - Brooklin, São Paulo - SP",132,3 Quartos,5 Banheiros,3 Vagas,Espaço gourmet\nGerador elétrico\nSegurança 24...,R$ 2.239.583,NaN,Brooklin,2021-03-11 01:59
219,2511999063,https://www.vivareal.com.br/imovel/apartamento...,Apartamento com Quarto para Venda/Aluguel 70m²,"Rua Professor José Leite e Oiticica, 434 - Bro...",70,1 Quarto,2 Banheiros,1 Vaga,Mobiliado\nVaranda\nAcademia\nÁrea de serviço\...,R$ 1.050.000,R$ 1.033,Brooklin,2021-03-11 01:59
255,2483200723,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 147m²","Rua Professor José Leite e Oiticica, 240 - Bro...",147,3 Quartos,5 Banheiros,2 Vagas,Piscina\nVaranda gourmet\nMobiliado\nAcademia\...,R$ 1.850.000,R$ 1.177,Brooklin,2021-03-11 01:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19405,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Via Monteiro,"Avenida Monteiro Lobato, 486 - Macedo, Guarulh...",25-60,1-3 Quartos,1-2 Banheiros,1 Vaga,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46
19412,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Funn Limão,"Rua Doutor Morais Dantas, 189 - Limão, São Pau...",34-38,2 Quartos,1 Banheiro,1 Vaga,Minha Casa Minha Vida,R$ 195.000,NaN,Tucuruvi,2021-03-11 04:46
19419,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Inova Penha,"Rua Mirandinha, 414 - Penha De Franca, São Pau...",48-51,2 Quartos,1 Banheiro,1 Vaga,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46
19426,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Tom Penha,"Avenida Tarumã, 505 - Vila Pierina, São Paulo ...",49-55,2 Quartos,1 Banheiro,-- Vagas,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46
19433,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Praças da Cidade,"Rua Piratininga, 833 - Brás, São Paulo - SP",55-94,1-2 Quartos,2 Banheiros,1 Vaga,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46

In [229]:
vr = vr.drop_duplicates(subset=["id", "header", "address", "area", "rooms", "price"], 
                        keep="first")

Removendo anuncios

In [230]:
vr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16492 entries, 0 to 19439
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          16492 non-null  object
 1   url         16492 non-null  object
 2   header      16492 non-null  object
 3   address     16492 non-null  object
 4   area        16492 non-null  object
 5   rooms       16492 non-null  object
 6   bathrooms   16492 non-null  object
 7   garages     16492 non-null  object
 8   amenities   11877 non-null  object
 9   price       16492 non-null  object
 10  condo       12875 non-null  object
 11  crawler     16492 non-null  object
 12  crawled_at  16492 non-null  object
dtypes: object(13)
memory usage: 1.8+ MB

In [231]:
vr["id"][1].isnumeric()

False

In [232]:
filtro_de_anuncio = [w.isnumeric() for w in vr["id"]]

In [233]:
vr = vr[filtro_de_anuncio]

In [234]:
vr = vr.reset_index(drop=True)

In [236]:
vr["id"] = vr["id"].astype(int)

Area

In [237]:
vr["area"] = vr["area"].astype(int)

rooms

In [238]:
vr["rooms"].head()

0    2 Quartos
1    2 Quartos
2    3 Quartos
3     1 Quarto
4    4 Quartos
Name: rooms, dtype: object

In [239]:
vr["rooms"] = vr["rooms"].str.split(" ").str[0].str.replace("--", "0").astype(int)

banheiros

In [240]:
vr["bathrooms"] = vr["bathrooms"].str.split(" ").str[0].str.replace("--", "0").astype(int)

garagens

In [241]:
vr["garages"] = vr["garages"].str.replace(" Vaga", "").str.replace("s", "").str.replace("--", "0").astype(int)

preco

In [242]:
vr["price"] = vr["price"].str.split(" ").str[1].str.replace(".", "").astype(int)

In [243]:
vr["condo"] = vr["condo"].str.split(" ").str[1].str.replace(".", "").astype(float)

datetime

In [244]:
vr["crawled_at"] = pd.to_datetime(vr["crawled_at"], format="%Y-%m-%d %H:%M:%S")

In [259]:
vr["amenities"].head()[2]

'Academia\nCondomínio fechado'

In [263]:
vr = pd.concat([vr, vr["amenities"].str.get_dummies(sep="\n")], axis=1)

In [269]:
vr = vr.drop(columns=["amenities"])

In [271]:
vr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15524 entries, 0 to 15523
Data columns (total 92 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              15524 non-null  int64
 1   url                             15524 non-null  object
 2   header                          15524 non-null  object
 3   address                         15524 non-null  object
 4   area                            15524 non-null  int64
 5   rooms                           15524 non-null  int64
 6   bathrooms                       15524 non-null  int64
 7   garages                         15524 non-null  int64
 8   price                           15524 non-null  int64
 9   condo                           12875 non-null  float64
 10  crawler                         15524 non-null  object
 11  crawled_at                      15524 non-null  datetime64[ns]
 12  Academia                        15524 non-null  int64
 13  Aceita animais                  15524 non-null  int64
 14  Acesso para deficientes         15524 non-null  int64
 15  Aquecimento                     15524 non-null  int64
 16  Ar-condicionado                 15524 non-null  int64
 17  Armário embutido                15524 non-null  int64
 18  Armário na cozinha              15524 non-null  int64
 19  Bicicletário                    15524 non-null  int64
 20  Cabeamento estruturado          15524 non-null  int64
 21  Churrasqueira                   15524 non-null  int64
 22  Churrasqueira na varanda        15524 non-null  int64
 23  Cinema                          15524 non-null  int64
 24  Circuito de segurança           15524 non-null  int64
 25  Closet                          15524 non-null  int64
 26  Condomínio fechado              15524 non-null  int64
 27  Conexão à internet              15524 non-null  int64
 28  Copa                            15524 non-null  int64
 29  Cozinha                         15524 non-null  int64
 30  Cozinha americana               15524 non-null  int64
 31  Cozinha grande                  15524 non-null  int64
 32  Depósito                        15524 non-null  int64
 33  Elevador                        15524 non-null  int64
 34  Escritório                      15524 non-null  int64
 35  Espaço gourmet                  15524 non-null  int64
 36  Espaço verde / Parque           15524 non-null  int64
 37  Espelhos d'água                 15524 non-null  int64
 38  Estacionamento para visitantes  15524 non-null  int64
 39  Garagem                         15524 non-null  int64
 40  Gerador elétrico                15524 non-null  int64
 41  Gramado                         15524 non-null  int64
 42  Gás Encanado                    15524 non-null  int64
 43  Interfone                       15524 non-null  int64
 44  Isolamento acústico             15524 non-null  int64
 45  Isolamento térmico              15524 non-null  int64
 46  Jardim                          15524 non-null  int64
 47  Lareira                         15524 non-null  int64
 48  Lavanderia                      15524 non-null  int64
 49  Mais de um andar                15524 non-null  int64
 50  Mobiliado                       15524 non-null  int64
 51  Móvel planejado                 15524 non-null  int64
 52  Perto de vias de acesso         15524 non-null  int64
 53  Piscina                         15524 non-null  int64
 54  Piscina infantil                15524 non-null  int64
 55  Piscina para adulto             15524 non-null  int64
 56  Piso laminado                   15524 non-null  int64
 57  Pista de cooper                 15524 non-null  int64
 58  Playground                      15524 non-null  int64
 59  Portaria 24h                    15524 non-null  int64
 60  Portão eletrônico               15524 non-null  int64
 61  Próximo a escola                15524 non-null  int64
 62  Próximo a hospitais             15524 non-null  int64
 63  Próximo a shopping              15524 non-null  int64
 64  Próximo a transporte público    15524 non-null  int64
 65  Quadra de squash                15524 non-null  int64
 66  Quadra de tênis                 15524 non-null  int64
 67  Quadra poliesportiva            15524 non-null  int64
 68  Quintal                         15524 non-null  int64
 69  Recepção                        15524 non-null  int64
 70  Sala de almoço                  15524 non-null  int64
 71  Sala de jantar                  15524 non-null  int64
 72  Sala de massagem                15524 non-null  int64
 73  Sala pequena                    15524 non-null  int64
 74  Salão de festas                 15524 non-null  int64
 75  Salão de jogos                  15524 non-null  int64
 76  Sauna                           15524 non-null  int64
 77  Segurança 24h                   15524 non-null  int64
 78  Serviços pay per use            15524 non-null  int64
 79  Serviços públicos essenciais    15524 non-null  int64
 80  Sistema de alarme               15524 non-null  int64
 81  Spa                             15524 non-null  int64
 82  TV a cabo                       15524 non-null  int64
 83  Varanda                         15524 non-null  int64
 84  Varanda gourmet                 15524 non-null  int64
 85  Vigia                           15524 non-null  int64
 86  Vista exterior                  15524 non-null  int64
 87  Vista para a montanha           15524 non-null  int64
 88  Vista para lago                 15524 non-null  int64
 89  Vista para o mar                15524 non-null  int64
 90  Área de lazer                   15524 non-null  int64
 91  Área de serviço                 15524 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(86), object(4)
memory usage: 10.9+ MB