In [1]:
import pandas as pd

In [2]:
vr = pd.read_csv("raw_data_10_jun.csv")

# Objetivos
- Remover itens duplicatos (se tiver algum)
- Remover propagandas
- Colunas numéricas tem que ter só números

# Desafios
- Lidar com os amenities

# Comando úteis
vr -> No caso é o nome do dataframe que estamos trabalhando 

vr.head() -> Mostra as primeiras linhas

vr.tail() -> Mostra as ultimas linhas

vr.columns -> Nome das columnas

vr.shape -> Mostra o "formato" do dataframe

vr.duplicated(subset=[lista de colunas]) -> retorna verdadeiro para as linhas duplicadas

vr.drop_duplicates(subset=[lista_de_colunas], keep="first") -> remover duplicados da base

vr.info() -> Mostra um resumo da tabela, com o tipo de dados de cada coluna

vr[nome da coluna].unique() -> Mostra os valores unicos dessa coluna

vr["NOMEDACOLUNA"].str.split(" ") -> Separa as strings da coluna NOMEDACOLUNA string no espaco. Ex: "Um brinquedo"-> ["Um", "brinquedo"]

vr["NOMEDACOLUNA"].str.replace("a", "b") -> Para todas as strings da coluna NOMEDACOLUNA, substitui a por b. Ex: "abacate" -> "bbbcbte"

vr.reset_index(drop=False) -> Re-constroi o indice sem pular valores. Util sempre que fizer alguma operacao que remova linhas para evitar warnings

vr["NOMEDACOLUNA"].isnull() -> Filtro para detectar null na coluna NOMEDACOLUNA

vr.dropna() -> Remove linhas que tiverem nulls.

vr.dropna(subset=["NOMEDACOLUNA"]) -> Remove linhas que tiverem nulls na coluna NOMEDACOLUNA.

vr.fillna("ERRO") -> Substitui valores null pelo valor "ERRO"

# Duplicados

In [3]:
vr.columns

Index(['id', 'url', 'header', 'address', 'area', 'rooms', 'bathrooms',
       'garages', 'amenities', 'price', 'condo', 'bairro', 'crawled_at'],
      dtype='object')

In [4]:
vr[vr.duplicated(subset=["id", "header", "address", "area", "rooms", "price"])]

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,bairro,crawled_at
36,2521587260,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 100m²","Rua Flórida, 76 - Brooklin, São Paulo - SP",100,3 Quartos,3 Banheiros,2 Vagas,Piscina\nCondomínio fechado\nQuadra poliesport...,R$ 890.000,R$ 1.000,Brooklin,2021-06-10 16:17
38,2517257990,https://www.vivareal.com.br/imovel/apartamento...,Apartamento com 2 Quartos à Venda/Aluguel 165m²,"Rua Flórida, 1901 - Brooklin, São Paulo - SP",165,2 Quartos,3 Banheiros,2 Vagas,Piscina\nMobiliado\nVaranda\nAcademia\nElevador,R$ 16.000 /mês\nR$ 2.750.000,R$ 2.100,Brooklin,2021-06-10 16:17
72,2512697589,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 4 Quartos à Venda, 172m²","Rua Flórida, 145 - Brooklin, São Paulo - SP",172,4 Quartos,5 Banheiros,4 Vagas,Piscina\nVaranda gourmet\nMobiliado\nAcademia\...,R$ 2.249.000,R$ 10,Brooklin,2021-06-10 16:18
74,2514599416,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 101m²","Rua Getúlio Soares da Rocha, 135 - Brooklin, S...",101,3 Quartos,2 Banheiros,2 Vagas,Piscina\nVaranda gourmet\nChurrasqueira\nVaran...,R$ 1.200.000,R$ 950,Brooklin,2021-06-10 16:18
75,2522751684,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 197m²","Avenida Roque Petroni Júnior - Brooklin, São P...",197,3 Quartos,4 Banheiros,3 Vagas,Piscina\nVaranda gourmet\nChurrasqueira\nAcade...,R$ 2.300.000,R$ 2.000,Brooklin,2021-06-10 16:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19405,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Videre,"Rua Doutor Costa Júnior, 465 - Água Branca, Sã...",135-219,3 Quartos,2-3 Banheiros,2 Vagas,NaN,R$ 1.800.000,NaN,Tucuruvi,2021-06-10 19:16
19412,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Setin Downtown Praça da Sé,"Rua Tabatinguera, 462 - Sé, São Paulo - SP",22,1 Quarto,1 Banheiro,-- Vaga,NaN,R$ 248.000,NaN,Tucuruvi,2021-06-10 19:16
19419,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Origem Freguesia do Ó,"Rua José Elói Otoni - Freguesia do Ó, São Paul...",57-66,2-3 Quartos,1 Banheiro,1 Vaga,NaN,R$ 380.000,NaN,Tucuruvi,2021-06-10 19:16
19426,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,LANDSCAPE PERDIZES,"Rua Desembargador Guimarães, 75 - Perdizes, Sã...",176-316,3-4 Quartos,5-6 Banheiros,4-5 Vagas,NaN,Sob Consulta,NaN,Tucuruvi,2021-06-10 19:16
19433,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Bandeira Pauliceia,"Rua Santo Amaro, 27 - Bela Vista, São Paulo - SP",48,2 Quartos,2 Banheiros,-- Vaga,NaN,R$ 429.000,NaN,Tucuruvi,2021-06-10 19:16

In [5]:
vr = vr.drop_duplicates(subset=["id", "header", "address", "area", "rooms", "price"], 
                        keep="first")

Removendo anuncios

In [6]:
vr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16105 entries, 0 to 19439
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          16105 non-null  object
 1   url         16105 non-null  object
 2   header      16105 non-null  object
 3   address     16105 non-null  object
 4   area        16105 non-null  object
 5   rooms       16105 non-null  object
 6   bathrooms   16105 non-null  object
 7   garages     16105 non-null  object
 8   amenities   13064 non-null  object
 9   price       16105 non-null  object
 10  condo       13263 non-null  object
 11  bairro      16105 non-null  object
 12  crawled_at  16105 non-null  object
dtypes: object(13)
memory usage: 1.7+ MB

In [7]:
vr["id"][1].isnumeric()

False

In [8]:
filtro_de_anuncio = [identificador.isnumeric() for identificador in vr["id"]]

In [9]:
vr = vr[filtro_de_anuncio]

In [10]:
vr["id"] = vr["id"].astype(int)

In [11]:
vr = vr.reset_index(drop=True)

Area

In [12]:
vr["area"] = vr["area"].astype(int)

rooms

In [13]:
vr["rooms"].head()

0    2 Quartos
1    3 Quartos
2    3 Quartos
3    3 Quartos
4    4 Quartos
Name: rooms, dtype: object

In [14]:
vr["rooms"] = vr["rooms"].str.split(" ").str[0].str.replace("--", "0").astype(int)

banheiros

In [15]:
vr["bathrooms"] = vr["bathrooms"].str.split(" ").str[0].str.replace("--", "0").astype(int)

garagens

In [16]:
vr["garages"] = vr["garages"].str.replace(" Vaga", "").str.replace("s", "").str.replace("--", "0").astype(int)

preco

In [17]:
vr["price"] = vr["price"].str.split(" ").str[-1].str.replace(".", "").astype(int)

In [18]:
vr["condo"] = vr["condo"].str.split(" ").str[-1].str.replace(".", "").astype(float)

datetime

In [21]:
vr["crawled_at"] = pd.to_datetime(vr["crawled_at"], format="%Y-%m-%d %H:%M:%S")

In [22]:
vr["amenities"].head()[2]

'Piscina\nVaranda gourmet\nChurrasqueira\nVaranda\nAcademia'

In [23]:
vr = pd.concat([vr, vr["amenities"].str.get_dummies(sep="\n")], axis=1)

In [24]:
vr = vr.drop(columns=["amenities"])

In [25]:
vr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15259 entries, 0 to 15258
Data columns (total 96 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            15259 non-null  int64
 1   url                           15259 non-null  object
 2   header                        15259 non-null  object
 3   address                       15259 non-null  object
 4   area                          15259 non-null  int64
 5   rooms                         15259 non-null  int64
 6   bathrooms                     15259 non-null  int64
 7   garages                       15259 non-null  int64
 8   price                         15259 non-null  int64
 9   condo                         13263 non-null  float64
 10  bairro                        15259 non-null  object
 11  crawled_at                    15259 non-null  datetime64[ns]
 12  Academia                      15259 non-null  int64
 13  Aceita animais                15259 non-null  int64
 14  Acesso para deficientes       15259 non-null  int64
 15  Aquecimento                   15259 non-null  int64
 16  Ar-condicionado               15259 non-null  int64
 17  Armário embutido              15259 non-null  int64
 18  Armário embutido no quarto    15259 non-null  int64
 19  Armário na cozinha            15259 non-null  int64
 20  Armário no banheiro           15259 non-null  int64
 21  Bicicletário                  15259 non-null  int64
 22  Box blindex                   15259 non-null  int64
 23  Cabeamento estruturado        15259 non-null  int64
 24  Churrasqueira                 15259 non-null  int64
 25  Cinema                        15259 non-null  int64
 26  Circuito de segurança         15259 non-null  int64
 27  Closet                        15259 non-null  int64
 28  Condomínio fechado            15259 non-null  int64
 29  Conexão à internet            15259 non-null  int64
 30  Copa                          15259 non-null  int64
 31  Coworking                     15259 non-null  int64
 32  Cozinha                       15259 non-null  int64
 33  Cozinha americana             15259 non-null  int64
 34  Cozinha grande                15259 non-null  int64
 35  Câmera de segurança           15259 non-null  int64
 36  Depósito                      15259 non-null  int64
 37  Elevador                      15259 non-null  int64
 38  Escritório                    15259 non-null  int64
 39  Espaço gourmet                15259 non-null  int64
 40  Espaço teen                   15259 non-null  int64
 41  Espaço verde / Parque         15259 non-null  int64
 42  Espelhos d'água               15259 non-null  int64
 43  Garage band                   15259 non-null  int64
 44  Garagem                       15259 non-null  int64
 45  Gerador elétrico              15259 non-null  int64
 46  Gramado                       15259 non-null  int64
 47  Guarita                       15259 non-null  int64
 48  Gás Encanado                  15259 non-null  int64
 49  Interfone                     15259 non-null  int64
 50  Janela grande                 15259 non-null  int64
 51  Jardim                        15259 non-null  int64
 52  Lareira                       15259 non-null  int64
 53  Lavabo                        15259 non-null  int64
 54  Lavanderia                    15259 non-null  int64
 55  Mais de um andar              15259 non-null  int64
 56  Mobiliado                     15259 non-null  int64
 57  Móvel planejado               15259 non-null  int64
 58  Perto de vias de acesso       15259 non-null  int64
 59  Piscina                       15259 non-null  int64
 60  Piscina coberta               15259 non-null  int64
 61  Piscina infantil              15259 non-null  int64
 62  Piscina para adulto           15259 non-null  int64
 63  Piso frio                     15259 non-null  int64
 64  Pista de cooper               15259 non-null  int64
 65  Playground                    15259 non-null  int64
 66  Portaria 24h                  15259 non-null  int64
 67  Portão eletrônico             15259 non-null  int64
 68  Próximo a escola              15259 non-null  int64
 69  Próximo a hospitais           15259 non-null  int64
 70  Próximo a shopping            15259 non-null  int64
 71  Próximo a transporte público  15259 non-null  int64
 72  Quadra de squash              15259 non-null  int64
 73  Quadra de tênis               15259 non-null  int64
 74  Quadra poliesportiva          15259 non-null  int64
 75  Quintal                       15259 non-null  int64
 76  Recepção                      15259 non-null  int64
 77  Sala de jantar                15259 non-null  int64
 78  Sala de massagem              15259 non-null  int64
 79  Salão de festas               15259 non-null  int64
 80  Salão de jogos                15259 non-null  int64
 81  Sauna                         15259 non-null  int64
 82  Segurança 24h                 15259 non-null  int64
 83  Serviços pay per use          15259 non-null  int64
 84  Serviços públicos essenciais  15259 non-null  int64
 85  Sistema de alarme             15259 non-null  int64
 86  Spa                           15259 non-null  int64
 87  TV a cabo                     15259 non-null  int64
 88  Varanda                       15259 non-null  int64
 89  Varanda fechada com vidro     15259 non-null  int64
 90  Varanda gourmet               15259 non-null  int64
 91  Vigia                         15259 non-null  int64
 92  Vista para a montanha         15259 non-null  int64
 93  Vista para o mar              15259 non-null  int64
 94  Área de lazer                 15259 non-null  int64
 95  Área de serviço               15259 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(90), object(4)
memory usage: 11.2+ MB

In [26]:
vr["estado"] = vr["address"].str.split(" - ").str[-1]

In [27]:
vr = vr.loc[vr["estado"]=="SP"].reset_index(drop=True)

In [28]:
vr = vr[vr["address"].str.contains("São Paulo")].reset_index(drop=True)

In [29]:
vr["parse_bairro"] = (vr["address"]
                      .str.split(", São Paulo - SP")
                      .str[-2]
                      .str.split(" - ")
                      .str[-1]
                      .str.replace("- ", "")
                     )

In [30]:
vr["parse_bairro"] = (vr["parse_bairro"]
                      .str.lower()
                      .str.normalize("NFKD")
                      .str.encode("ascii", errors="ignore")
                      .str.decode("utf8"))

vr["bairro"] = (vr["bairro"]
                .str.lower()
                .str.normalize("NFKD")
                .str.encode("ascii", errors="ignore")
                .str.decode("utf8"))

In [36]:
vr.to_csv("primary_data.csv", index=False)