In [131]:
import pandas as pd

In [132]:
ml = pd.read_csv("resultados_completos.csv")
ml

,bairro,url,preco,titulo,endereco,area,quartos
0,vila_mariana,https://apartamento.mercadolivre.com.br/MLB-19...,630.000,More Próximo Ao Metro E Parque Ibirapuera - Bi...,"R França Pinto, Vila Mariana, São Paulo Zona S...",92 m² construídos,3 quartos
1,vila_mariana,https://apartamento.mercadolivre.com.br/MLB-19...,680.000,Apartamento Residencial - Bi30227,"R Pedro Pomponazzi, Jardim Vila Mariana, São P...",53 m² construídos,1 quarto
2,vila_mariana,https://apartamento.mercadolivre.com.br/MLB-19...,610.000,Studio Na Vila Mariana - Bi30121,"R Paula Ney, Vila Mariana, São Paulo Zona Sul,...",27 m² construídos,1 quarto
3,vila_mariana,https://apartamento.mercadolivre.com.br/MLB-17...,356.186,INSPIRE IBIRAPUERA,"Vila Mariana, São Paulo Zona Sul, São Paulo",25 - 51 m² construídos,1 - 2 dorms.
4,vila_mariana,https://apartamento.mercadolivre.com.br/MLB-16...,800.000,"Apartamento Com 3 Dormitórios À Venda, 84 M² P...","Vila Mariana, São Paulo Zona Sul, São Paulo",84 m² construídos,3 quartos
...,...,...,...,...,...,...,...
13712,liberdade,https://apartamento.mercadolivre.com.br/MLB-16...,305.000,"Apartamento Com 1 Dormitório À Venda, 47 M² Po...","Liberdade, São Paulo Centro, São Paulo",47 m² construídos,1 quarto
13713,liberdade,https://apartamento.mercadolivre.com.br/MLB-14...,660.000,"Apartamento Com 80 M² Com 2 Dormitórios, 2 Ban...","Liberdade, São Paulo Centro, São Paulo",80 m² construídos,2 quartos
13714,liberdade,https://apartamento.mercadolivre.com.br/MLB-13...,660.000,Apartamento - Ap02040 - 2941876,"Rua Galvão Bueno, Liberdade, São Paulo Centro,...",79 m² construídos,3 quartos
13715,liberdade,https://apartamento.mercadolivre.com.br/MLB-18...,720.000,"Apartamento Novo Com Churrasqueira, 67m² Próxi...","R Da Glória, Liberdade, São Paulo Centro, São ...",66 m² construídos,2 quartos
13716,liberdade,https://apartamento.mercadolivre.com.br/MLB-18...,300.000,"Apartamento Com 2 Dormitórios À Venda, 64 M² P...","Liberdade, São Paulo Centro, São Paulo",64 m² construídos,2 quartos

In [133]:
vr = pd.read_csv("raw.csv")
vr

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
0,2472650173,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Portugal, 401 - Brooklin, São Paulo - SP",64,2 Quartos,2 Banheiros,1 Vaga,Elevador\nAr-condicionado\nPlayground\nMóvel p...,R$ 715.000,R$ 778,Brooklin,2021-03-11 01:57
1,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Only Cidade Jardim,"Avenida Ulysses Reis de Mattos, 100 - Real Par...",186-252,3 Quartos,4 Banheiros,2-4 Vagas,NaN,A partir de\nR$ 2.429.620,NaN,Brooklin,2021-03-11 01:57
2,2463778941,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 83m²","Rua Nova York, 470 - Brooklin, São Paulo - SP",83,2 Quartos,3 Banheiros,2 Vagas,Piscina\nElevador\nCondomínio fechado\nEspaço ...,R$ 1.350.000,R$ 600,Brooklin,2021-03-11 01:57
3,2505723836,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 75m²","Avenida Portugal, 371 - Brooklin, São Paulo - SP",75,3 Quartos,2 Banheiros,1 Vaga,Academia\nCondomínio fechado,R$ 680.000,R$ 717,Brooklin,2021-03-11 01:57
4,2497648375,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com Quarto à Venda, 47m²","Rua Michigan - Brooklin, São Paulo - SP",47,1 Quarto,2 Banheiros,1 Vaga,Piscina\nVaranda gourmet\nMobiliado\nChurrasqu...,R$ 750.000,R$ 463,Brooklin,2021-03-11 01:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19435,2511444468,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 56m²","Rua Purus - Tucuruvi, São Paulo - SP",56,2 Quartos,1 Banheiro,1 Vaga,Playground\nSalão de festas\nSalão de jogos,R$ 359.000,NaN,Tucuruvi,2021-03-11 04:46
19436,2500619794,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 78m²","Rua Manuel Gaya, 945 - Tucuruvi, São Paulo - SP",78,3 Quartos,2 Banheiros,2 Vagas,Piscina\nVaranda gourmet\nChurrasqueira\nVaran...,R$ 670.000,R$ 650,Tucuruvi,2021-03-11 04:46
19437,2505112299,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 82m²","Avenida Coronel Sezefredo Fagundes - Tucuruvi,...",82,3 Quartos,2 Banheiros,1 Vaga,Aquecimento,R$ 675.000,R$ 650,Tucuruvi,2021-03-11 04:46
19438,2505098315,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 82m²","Avenida Coronel Sezefredo Fagundes - Tucuruvi,...",82,3 Quartos,2 Banheiros,1 Vaga,Aquecimento,R$ 675.000,R$ 650,Tucuruvi,2021-03-11 04:46
19439,2486035511,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 96m²","Avenida Mazzei, 530 - Tucuruvi, São Paulo - SP",96,2 Quartos,1 Banheiro,1 Vaga,Piscina\nMobiliado\nChurrasqueira\nAcademia\nE...,R$ 540.000,R$ 670,Tucuruvi,2021-03-11 04:46

# Objetivos
 - remover itens duplicados (se tiver algum)
 - Remover propagandas
 - Colunas numéricas tem que ter somente números
 - Lidar com os amenities

- vr -> DataFrame
- vr.head() -> mostra as primeiras linhas
- vr.tail() -> mostra as últimas linhas
- vr.columns -> nome das colunas
- vr.shape -> mostra o numero de linhas e o numero de colunas
- vr.duplicated(subset=[lista_de_colunas]) -> retorna verdadeiro para as linhas duplicadas
- vr.drop_duplicates(subset=[lista_de_colunas], keep="first) -> remove duplicados da base

# duplicados

In [134]:
vr.columns

Index(['id', 'url', 'header', 'address', 'area', 'rooms', 'bathrooms',
       'garages', 'amenities', 'price', 'condo', 'crawler', 'crawled_at'],
      dtype='object')

In [135]:
vr.shape

(19440, 13)

In [136]:
vr[vr.duplicated(subset=["id", "header", "address"])]

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
72,2439997677,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 130m²","Rua Doutor Paschoal Imperatriz - Brooklin, São...",130,3 Quartos,4 Banheiros,3 Vagas,NaN,R$ 1.436.800,NaN,Brooklin,2021-03-11 01:58
146,2501373854,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 63m²","Rua Soberana, 49 - Brooklin, São Paulo - SP",63,2 Quartos,2 Banheiros,1 Vaga,Piscina\nChurrasqueira\nAcademia\nElevador\nEs...,R$ 850.000,R$ 651,Brooklin,2021-03-11 01:58
218,2512231186,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 132m²","Rua Califórnia, 1127 - Brooklin, São Paulo - SP",132,3 Quartos,5 Banheiros,3 Vagas,Espaço gourmet\nGerador elétrico\nSegurança 24...,R$ 2.239.583,NaN,Brooklin,2021-03-11 01:59
219,2511999063,https://www.vivareal.com.br/imovel/apartamento...,Apartamento com Quarto para Venda/Aluguel 70m²,"Rua Professor José Leite e Oiticica, 434 - Bro...",70,1 Quarto,2 Banheiros,1 Vaga,Mobiliado\nVaranda\nAcademia\nÁrea de serviço\...,R$ 1.050.000,R$ 1.033,Brooklin,2021-03-11 01:59
255,2483200723,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 3 Quartos à Venda, 147m²","Rua Professor José Leite e Oiticica, 240 - Bro...",147,3 Quartos,5 Banheiros,2 Vagas,Piscina\nVaranda gourmet\nMobiliado\nAcademia\...,R$ 1.850.000,R$ 1.177,Brooklin,2021-03-11 01:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19405,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Via Monteiro,"Avenida Monteiro Lobato, 486 - Macedo, Guarulh...",25-60,1-3 Quartos,1-2 Banheiros,1 Vaga,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46
19412,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Funn Limão,"Rua Doutor Morais Dantas, 189 - Limão, São Pau...",34-38,2 Quartos,1 Banheiro,1 Vaga,Minha Casa Minha Vida,R$ 195.000,NaN,Tucuruvi,2021-03-11 04:46
19419,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Inova Penha,"Rua Mirandinha, 414 - Penha De Franca, São Pau...",48-51,2 Quartos,1 Banheiro,1 Vaga,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46
19426,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Tom Penha,"Avenida Tarumã, 505 - Vila Pierina, São Paulo ...",49-55,2 Quartos,1 Banheiro,-- Vagas,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46
19433,https://www.vivareal.com.br/imoveis-lancamento...,https://www.vivareal.com.br/imoveis-lancamento...,Praças da Cidade,"Rua Piratininga, 833 - Brás, São Paulo - SP",55-94,1-2 Quartos,2 Banheiros,1 Vaga,NaN,Sob Consulta,NaN,Tucuruvi,2021-03-11 04:46

In [137]:
# atualiza o vr com a nova lista sem os duplicados
vr = vr.drop_duplicates(subset=["id", "header", "address"], keep="first")
vr.shape

(16492, 13)

In [138]:
# remover propagandas
# os IDs do vivareal que são anúncios, contém links

vr["id"][0] # exemplo de id  numérico
vr["id"][1] # exemplo de id não numérico

'https://www.vivareal.com.br/imoveis-lancamento/only-cidade-jardim-2494134780'

In [139]:
filtro_anuncio = [w.isnumeric() for w in vr["id"]]
vr = vr[filtro_anuncio] # aqui ja filtra o que for verdadeiro
vr.shape

(15524, 13)

In [140]:
# filtra a area
filtro_de_area = [True if w == "64" else False for w in vr["area"]]
vr[filtro_de_area]

# outro tipo de filtro
vr[(vr["area"] == "64") & (vr["rooms"] == "2 Quartos")]

,id,url,header,address,area,rooms,bathrooms,garages,amenities,price,condo,crawler,crawled_at
0,2472650173,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Portugal, 401 - Brooklin, São Paulo - SP",64,2 Quartos,2 Banheiros,1 Vaga,Elevador\nAr-condicionado\nPlayground\nMóvel p...,R$ 715.000,R$ 778,Brooklin,2021-03-11 01:57
33,2448534620,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Rua Soberana, 49 - Brooklin, São Paulo - SP",64,2 Quartos,2 Banheiros,2 Vagas,Churrasqueira\nAcademia\nElevador\nEspaço gour...,R$ 775.000,R$ 643,Brooklin,2021-03-11 01:57
43,2454042650,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Rua Soberana, 49 - Brooklin, São Paulo - SP",64,2 Quartos,2 Banheiros,2 Vagas,Churrasqueira\nAcademia\nElevador\nEspaço gour...,R$ 783.000,R$ 643,Brooklin,2021-03-11 01:58
91,2430969104,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Brooklin, São Paulo - SP",64,2 Quartos,3 Banheiros,2 Vagas,NaN,R$ 775.200,R$ 645,Brooklin,2021-03-11 01:58
96,2512819735,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Vereador José Diniz, 2275 - Brooklin, ...",64,2 Quartos,2 Banheiros,1 Vaga,NaN,R$ 711.856,NaN,Brooklin,2021-03-11 01:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18985,2513097588,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Álvaro Machado Pedrosa, 752 - Tucuruvi...",64,2 Quartos,2 Banheiros,1 Vaga,NaN,R$ 589.000,NaN,Tucuruvi,2021-03-11 04:42
19069,2512332791,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Álvaro Machado Pedrosa, 752 - Tucuruvi...",64,2 Quartos,2 Banheiros,1 Vaga,Piscina\nVaranda gourmet\nChurrasqueira\nVaran...,R$ 599.000,R$ 438,Tucuruvi,2021-03-11 04:43
19152,2498804189,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Rua João de Laet - Tucuruvi, São Paulo - SP",64,2 Quartos,1 Banheiro,2 Vagas,Piscina\nElevador\nPlayground\nSalão de festas...,R$ 375.000,R$ 500,Tucuruvi,2021-03-11 04:44
19403,2502222832,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Rua Dragões da Independência - Tucuruvi, São P...",64,2 Quartos,2 Banheiros,1 Vaga,Churrasqueira\nQuadra poliesportiva\nÁrea de s...,R$ 315.000,R$ 440,Tucuruvi,2021-03-11 04:46
19428,2509291546,https://www.vivareal.com.br/imovel/apartamento...,"Apartamento com 2 Quartos à Venda, 64m²","Avenida Mário Pernambuco - Tucuruvi, São Paulo...",64,2 Quartos,1 Banheiro,1 Vaga,NaN,R$ 275.000,R$ 400,Tucuruvi,2021-03-11 04:46

In [141]:
# reseta o index e dropa o index antigo
vr = vr.reset_index(drop=True)

In [142]:
vr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15524 entries, 0 to 15523
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15524 non-null  object
 1   url         15524 non-null  object
 2   header      15524 non-null  object
 3   address     15524 non-null  object
 4   area        15524 non-null  object
 5   rooms       15524 non-null  object
 6   bathrooms   15524 non-null  object
 7   garages     15524 non-null  object
 8   amenities   11792 non-null  object
 9   price       15524 non-null  object
 10  condo       12875 non-null  object
 11  crawler     15524 non-null  object
 12  crawled_at  15524 non-null  object
dtypes: object(13)
memory usage: 1.5+ MB

# Area

In [143]:
vr["id"] = vr["id"].astype(float)
vr["area"] = vr["area"].astype(int)

In [144]:
# conta os valores e sua recorrencia
vr["area"].value_counts()

65     626
60     504
70     501
55     470
50     467
      ...
322      1
155      1
227      1
295      1
16       1
Name: area, Length: 258, dtype: int64

# Rooms

In [145]:
#vr["rooms"].unique() # faz um "distinct"

vr["rooms"] = vr["rooms"].str.split(" ").str[0].str.replace("--", "0").astype(int)
vr["rooms"]

0        2
1        2
2        3
3        1
4        4
        ..
15519    2
15520    3
15521    3
15522    3
15523    2
Name: rooms, Length: 15524, dtype: int32

# preço

In [146]:
vr["price"] = vr["price"].str.split(" ").str[1].str.replace(".","").astype(int)

In [148]:
vr["price"]

0         715000
1        1350000
2         680000
3         750000
4        1999000
          ...
15519     359000
15520     670000
15521     675000
15522     675000
15523     540000
Name: price, Length: 15524, dtype: int32

In [152]:
vr["amenities"].value_counts()

Piscina\nVaranda gourmet\nChurrasqueira\nAcademia\nElevador                                        808
Piscina\nChurrasqueira\nVaranda\nAcademia\nElevador                                                515
Piscina\nChurrasqueira\nAcademia\nElevador\nCondomínio fechado                                     507
Piscina\nVaranda gourmet\nChurrasqueira\nVaranda\nAcademia                                         472
Piscina\nChurrasqueira\nVaranda\nElevador\nÁrea de serviço                                         162
                                                                                                  ...
Elevador\nCondomínio fechado\nÁrea de serviço\nAceita animais\nSalão de festas                       1
Salão de festas\nArmário embutido\nArmário na cozinha\nSala de jantar                                1
Mobiliado\nAr-condicionado\nJardim\nQuadra poliesportiva\nÁrea de serviço                            1
Churrasqueira\nQuadra poliesportiva\nSalão de festas\nPerto de vias de acesso\nPróximo a escola      1
Elevador\nJardim\nÁrea de serviço\nEscritório\nDepósito                                              1
Name: amenities, Length: 3047, dtype: int64

In [155]:
vr["amenities"].str.get_dummies(sep="\n")

,Academia,Aceita animais,Acesso para deficientes,Aquecimento,Ar-condicionado,Armário embutido,Armário na cozinha,Bicicletário,Cabeamento estruturado,Churrasqueira,...,TV a cabo,Varanda,Varanda gourmet,Vigia,Vista exterior,Vista para a montanha,Vista para lago,Vista para o mar,Área de lazer,Área de serviço
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15520,1,0,0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,0
15521,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15522,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15523,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0